@import "fonts.css";
@import "variables.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--c-text-dark);
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--pb-container);
}

#app {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}


li {
  list-style: none;
  font-size: var(--fs-p);
}

.h1-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
}

.h2-title {
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
}

.h4-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

@media (max-width: 768px) {
  html,
  body{
    font-size: 12px;
    line-height: 18px;
  }

  .h1-title {
    font-size: 26px;
    line-height: 36px;
  }

  .h2-title {
    font-size: 21px;
    line-height: 24px;
  }

  .h4-title {
    font-size: 16px;
    line-height: 22px;
  }
}